@import "tailwindcss";
@plugin "daisyui";

button:hover{
    cursor: pointer;
}

.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}